body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: white;
  overflow-x: hidden;
  overflow: hidden;
  color: white;
}

.App {
  align-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  position: relative;
  z-index: 2;
}

.App-header {
  font-size: 18px;
  color: black;
  max-width: 700px;
  margin: auto;
}

.days-counter {
  margin-bottom: 20px;
  font-size: 1.1em;
  font-weight: bold;
}

.quote {
  margin-top: 40px;
  font-style: italic;
  font-size: 1em;
  color: #555;
}

.floating-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background: white;
}

.heart {
  position: absolute;
  background-color: #ff6b81;
  width: 20px;
  height: 20px;
  opacity: 0.8;
  transform: rotate(45deg);
  border-radius: 50% 50% 0 0;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff6b81;
  border-radius: 50%;
}

.heart::before {
  top: -50%;
  left: 0;
}

.heart::after {
  left: -50%;
  top: 0;
}
